@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders:opsz,wght@10..72,100..900&family=Lexend+Deca:wght@100..900&display=swap');

:root{
  --oranzova: oklch(70.82% 0.1512 61.38);
  --svetla-cyan: oklch(47.37% 0.0807 203.41);
  --tmava-cyan:  oklch(34.38% 0.0589 192.89);

  --transparentna-biela:hsla(0, 0%, 100%, 0.75);
  --svetloseda: hsl(0, 0%, 95%);
}

h2{
  font-family: "Big Shoulders", sans-serif;
}

p,a{
  font-family: "Lexend Deca", sans-serif;
}

.sedans{
  background-color: var(--oranzova);
}